{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": ["plugin:prettier/recommended", "react-app"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingcomma": "es5",
        "singleQuote": true,
        "printWidth": 120
      }
    ]
  }
}
